{% extends 'base.html.twig' %}

{% block body %}
    <div id="errorPageContainer">
        <div class="errorMessage">
            {{ msg }}
        </div>
        <a class="btn btn-default" href="{{ path(redirectTo) }}">{{ redirectToCaption }}</a>
    </div>
{% endblock %}