{% extends 'indexPage.html.twig' %}

{% block topMenuSearch %}
    {{ include('search/search.html.twig', { 'searchCaption': 'Поиск по рейсам..' }) }}
{% endblock %}

{% block body %}
    <div id="routesFilter">
        <div class="half">
            <div>Фильтры:</div>
            <div style="float: left">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>
                            Статус рейса
                        </th>
                        <th>
                            Направление
                        </th>
                        <th>
                            Дата подачи
                        </th>
                        <th>
                            Водитель
                        </th>
                        <th>
                            ТС
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="routeFilterStatus">
                            <select id="routeFilterStatus">
                                <option selected="selected">&mdash;</option>
                                <option>Подтвержден</option>
                                <option>Отгружен</option>
                            </select>
                        </td>
                        <td class="routeFilterDirection">
                            <div>
                                <span>Откуда</span>
                                <select id="routeFilterDirFrom">
                                    <option selected="selected">&mdash;</option>
                                    <option>Саратов</option>
                                    <option>Аткарск</option>
                                </select>
                            </div>
                            <div>
                                <span>Куда</span>
                                <select id="routeFilterDirTo">
                                    <option selected="selected">&mdash;</option>
                                    <option>Казань</option>
                                    <option>Тула</option>
                                </select>
                            </div>
                        </td>
                        <td class="routeFilterGetInTime">
                            <div>
                                <span>С</span>
                                <input type="datetime-local" id="routeFilterTimeFrom">
                            </div>
                            <div>
                                <span>По</span>
                                <input type="datetime-local" id="routeFilterTimeTo">
                            </div>
                        </td>
                        <td class="routeFilterDriver">
                            <div>
                                <span>Назначен</span>
                                <input type="checkbox" id="routeFilterDriverSet">
                            </div>
                            <div>
                                <span>Неназначен</span>
                                <input type="checkbox" id="routeFilterDriverNotSet">
                            </div>
                        </td>
                        <td class="routeFilterVehicle">
                            <div><span>Назначено</span><input type="checkbox" id="routeFilterVehicleSet"></div>
                            <div><span>Неназначено</span><input type="checkbox" id="routeFilterVehicleNotSet"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="routesTable">
        <table cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>
                    Статус рейса
                </th>
                <th>
                    № Рейса
                </th>
                <th>
                    Направление
                </th>
                <th>
                    Подача
                </th>
                <th>
                    Вид ТС
                </th>
                <th>
                    Вес (Объем)
                </th>
                <th>
                    Ставка
                </th>
                <th>
                    Водитель
                </th>
                <th>
                    Марка, гос. номер ТС
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="lotStatus">Подтвержден</td>
                <td align="center">Р-039187</td>
                <td class="lotDirection">Саратов (ТТС) &xrarr;<br />Казань</td>
                <td class="lotGetInTime">02.12.16 09:00</td>
                <td class="lotVehicleType">Изотерм 20т</td>
                <td align="right">19200 (24)</td>
                <td align="right">24500</td>
                <td align="center">Салихов Рамиль Рамилевич</td>
                <td align="right">MAN т493рс116 п/п ат513416</td>
            </tr>
            <tr>
                <td class="lotStatus">Подтвержден</td>
                <td align="center">Р-038882</td>
                <td class="lotDirection">Аткарск (АМЭЗ) &xrarr;<br />Тула (РЦ Тандер)</td>
                <td class="lotGetInTime">02.12.16 09:00</td>
                <td class="lotVehicleType">Тент 20т</td>
                <td align="right">18000 (32)</td>
                <td align="right">36000</td>
                <td align="center"></td>
                <td align="right"></td>
            </tr>
            </tbody>

        </table>
    </div>
{% endblock %}