{% extends 'indexPage.html.twig' %}

{% block topMenuSearch %}
    {{ include('search/search.html.twig', { 'searchCaption': 'Поиск по транспорту..' }) }}
{% endblock %}

{% block body %}
    <div id="transportPageContainer">
        <div id="vehicleFilter">
            <div style="width:634px; float:left">
                <div class="addVehicleBtn"><a >Добавить ТС</a></div>
                <div><a id="filter">Показать фильтры</a></div>
            </div>
            <div id="filterBlock" class="half hide">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Статус</th>
                        <th>Тип</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="vehicleFilterStatus">
                            <select id="vehicleFilterStatus">
                                <option selected="selected">&mdash;</option>
                                <option>Активен</option>
                                <option>Сломан</option>
                                <option>Прикреплён</option>
                            </select>
                        </td>
                        <td class="vehicleFilterType">
                            <div><span>Реф</span><input type="checkbox" id="lotFilterVTRef"></div>
                            <div><span>Тент</span><input type="checkbox" id="lotFilterVTTen"></div>
                            <div><span>Изотерм</span><input type="checkbox" id="lotFilterVTIso"></div>
                            <div><span>Цистерна</span><input type="checkbox" id="lotFilterVTCis"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="vehicleTable">
            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Статус</th>
                        <th>ТС</th>
                        <th>Тип</th>
                        <th>Грузоподъёмность, т</th>
                        <th>Гос. номер</th>
                        <th>Номер п/п</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Активен</td>
                        <td align="center">Газель</td>
                        <td align="right">Тент</td>
                        <td align="right">2</td>
                        <td align="center">о323рр47</td>
                        <td align="center">ав7777/31</td>
                        <td>
                            <form action="" method="POST">
                                <input class="changeVehicleInfo" type="button" value="&#9998;">
                                <input class="deleteVehicle" type="button" value="&#10006;">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Сломан</td>
                        <td align="center">Вольво</td>
                        <td align="right">Реф</td>
                        <td align="right">10</td>
                        <td align="center">к898уу77</td>
                        <td align="center">&mdash;</td>
                        <td>
                            <form action="" method="POST">
                                <input class="changeVehicleInfo" type="button" value="&#9998;">
                                <input class="deleteVehicle" type="button" value="&#10006;">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Прикреплён</td>
                        <td align="center">Камаз</td>
                        <td align="right">Изотерм</td>
                        <td align="right">8</td>
                        <td align="center">м301тк13</td>
                        <td align="center">вв8989/02</td>
                        <td>
                            <form action="" method="POST">
                                <input class="changeVehicleInfo" type="button" value="&#9998;">
                                <input class="deleteVehicle" type="button" value="&#10006;">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="addVehicleWindow">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td colspan="2">
                    <input id="vehicleName" type="text" class="addVehicleWindowBtn" placeholder="ТС" style="margin-top: 10px;">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <select id="vehicleType" class="addVehicleWindowBtn">
                        <option value="" disabled selected>Тип</option>
                        <option>Реф</option>
                        <option>Тент</option>
                        <option>Изотерм</option>
                        <option>Цистерна</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="vehiclePayload" type="text" class="addVehicleWindowBtn" placeholder="Грузоподъёмность">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="vehicleRegNumber" type="text" class="addVehicleWindowBtn" placeholder="Гос. номер" >
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="vehicleTrailerRegNumber" type="text" class="addVehicleWindowBtn" placeholder="Номер п/п" >
                </td>
            </tr>
            <tr>
                <td align="left">
                    <input id="addDriverBtn" class="addVehicleWindowBtn" type="button" value="Сохранить">
                </td>
                <td align="right">
                    <input id="cancelBtn" class="addVehicleWindowBtn" type="button" value="Закрыть">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}