.loginForm {
    width:       350px;
    margin:      0 auto;
}

#fos_user_registration_form {
    width:       350px;
    margin:      0 auto;
    padding-top: 250px;
}

#fos_user_registration_form div{
    position: relative;
    padding: 5px 0;
}

#fos_user_registration_form div label{
    text-align: left;
}

#fos_user_registration_form div input{
    position: absolute;
    right: 0;
}

.submitForm{
    width: 350px;
    margin: 0 auto;
    position: relative;
    padding-top: 10px;
}

.alignRight{
    position: absolute;
    right: 0;
}

body {
    margin:0;
    font-size: 12px !important;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #b9b9b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li a.active {background-color: #555; color: whitesmoke}

ul.topnav li.icon {display: none;}

.lotsInfo{
    float: left;
    width: 45%;
    margin-right: 10px;
}

.userRoutesInfo{
    float: left;
    width: 45%;
    margin-left: 10px;
}

#mainContent{
    width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 704px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width: 704px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 920px) {
    .lotsInfo{
        width: 50%;
    }

    .userRoutesInfo{
        width: 50%;
        margin-left: 0px;
    }

    #mainContent{
        width: 900px;
    }
}

@media screen and (max-width: 450px) {
    #mainContent{
        width: 470px;
    }
}
.authError {
    background-color: #c05e5e;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.authErrorWrapper{
    margin: 250px auto 0;
    width: 345px;
}

.loginForm table td:first-child{
    width: 200px;
}

.loggedUser{
    padding-left: 50px;
    color: #fdfdfe;
    right: 0;
    position: absolute;
}

.lotsList{
    width: 100%;
    border: 1px solid grey;
    margin-left: 16px;
    min-width: 320px;
}

.lotsList ul{
    padding-left: 25px;
}

.lotsList ul li div:first-child{
    width: 90%;
    display: inline-block;
    margin: 0 0 10px 0;
}
.lotsList ul li div:last-child{
    text-align: center;
    width: 9%;
    display: inline-block;
    margin: 10px 0 10px 0;
}

.pdleft20{
    padding-left: 20px;
}

.pdleft10{
    padding-left: 10px;
}

.pdleft3{
    padding-left: 3px;
}

.lotsInfoTitle{
    padding-left: 16px;
    margin-bottom: 5px;
    margin-top: 30px;
}

#vehicleTable table{
    width: 100%;
    border-collapse: collapse;
}

#vehicleTable table tr td:nth-child(2){
    width: 188px;
}

#vehicleTable table tr td:nth-child(3){
    width: 180px;
}

#vehicleTable table tr td:nth-child(5){
    width: 90px;
}

#vehicleTable table tr td:nth-child(6){
    width: 90px;
}

#driverShowTable{
    margin: 15px;
}

#driverShowTable table{
    border: 1px solid dimgrey;
    border-collapse: collapse;
    width: 100%;
}

#driverShowTable table tr th{
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid dimgrey;
    border-right: 1px solid dimgrey;
}

#driverShowTable table tr td{
    border-bottom: 1px solid dimgrey;
    padding: 5px 7px;
}

#auctionTable, #routesTable, #driversTable, #vehicleTable{
    margin: 15px;
}

#auctionTable table, #routesTable table, #driversTable table, #vehicleTable table, #addDriverWindow table{
    border-top: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-right: 1px solid dimgrey;
    width: 100%;
}

#auctionTable table tr th, #routesTable table tr th, #driversTable table tr th, #vehicleTable table tr th{
    border-bottom: 1px solid dimgrey;
    padding: 5px;
    margin: 0px;
    border-right: 1px solid #909090;
    text-align: center;
}

#auctionTable table tr td, #routesTable table tr td, #driversTable table tr td, #vehicleTable table tr td{
    border-bottom: 1px solid dimgrey;
    padding: 5px 7px;
}

#addDriverWindow table{
    border-bottom: 1px solid dimgrey;
}

#addDriverWindow table tr td{
    margin: 0 5px 5px 5px;
}

#addDriverWindow input[type="text"], #addDriverWindow textarea{
    padding: 7px;
    width: 480px;
}

#addVehicleWindow select{
    padding: 7px 4px;
    width: 480px;
    color: #a9a9a9;
}

.lotComment{
    width: 300px;
    text-align: right;
}

.lotStatus{
    width: 120px;
    text-align: center;
}

.lotDirection{
    width: 250px;
    text-align: center;
}

.lotGetInTime{
    width: 60px;
    text-align: center;
}

.lotVehicleType{
    width: 57px;
    text-align: right;
}

.bid{
    width: 60px;
    margin-right: 0px;
    height: 27px;
    text-align: right;
}

.doBid{
    padding: 3px !important;
    width: 110px;
    margin-left: 5px;
}

.lotDoBid{
    width: 210px;
}

.lotViewBids{
    width: 170px;
}

.dnone{
    display: none;
}

#driversFilter, #vehicleFilter, #routesFilter{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    float: left;
}

#lotFilter{
    margin: 15px 0 10px 15px;
    float: left;
}

#lotFilter table, #routesFilter table, #driversFilter table, #vehicleFilter table, .routeInfo table{
    border-top: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-right: 1px solid dimgrey;
    border-collapse: collapse;
    margin-top: 5px;
}

#lotFilter table tbody tr{
    width: 100%;
}

#lotFilter table tr th, #routesFilter table tr th, #driversFilter table tr th, #vehicleFilter table tr th, .routeInfo table tr th{
    border-bottom: 1px solid dimgrey;
    padding: 5px;
    margin: 0px;
}

#lotFilter table tr td, #routesFilter table tr td, #driversFilter table tr td, #vehicleFilter table tr td, .routeInfo table tr td{
    border-bottom: 1px solid dimgrey;
    border-right: 1px solid dimgrey;
    padding: 3px 7px;
}

.lotFilterStatus, .routeFilterStatus, .driversFilterStatus, .vehicleFilterStatus{
    width: 135px;
}

.lotFilterDirection, .routeFilterDirection{
    width: 35%;/*220px;*/
}

.lotFilterDirection div, .routeFilterDirection div{
    padding: 3px 0;
}

.lotFilterGetInTime, .routeFilterGetInTime{
    width: 230px;
}

.lotFilterGetInTime div, .routeFilterGetInTime div{
    padding: 7px 0;
}

.lotFilterVehicleType, .vehicleFilterType{
    width: 105px;
}

.lotFilterBids{
    width: 150px;
}

.topMenuSearch{
    margin: 7px 10px 10px 10px;
}

.topMenuSearch img{
    padding: 10px 0 0 5px;
    float: right;
    cursor: pointer;
}

.topMenuSearch input[type="text"] {
    width: 180px;
    margin-left: 5px;
    margin-top: 7px;
}

.half{
    float: left;
}

.routeFilterDriver{
    width: 120px;
}

.routeFilterVehicle{
    width: 130px;
}

.lotFilterStatus input, .lotFilterDirection select, .lotFilterGetInTime input, .lotFilterVehicleType input, .lotFilterBids input, .routeFilterStatus input, .routeFilterDirection select, .routeFilterGetInTime input, .routeFilterDriver input, .routeFilterVehicle input, .vehicleFilterType input, .driversFilterStatus input, .vehicleFilterStatus input{
    float: right;
    clear: both;
}

.routeSearch{
    float: left;
    margin: 4px 0 0 18px;
}

.routeSearch input[type="text"]{
    width: 190px;
}

.routeSearchCaption{
    margin-left: 18px;
}

#lotFilter, #routesFilter, #driversFilter, #vehicleFilter{
    width: 100%;
}

.addDriverBtn, .addVehicleBtn{
    float: right;
}

#filter, .addDriverBtn a, .addVehicleBtn a{
    cursor: pointer;
    text-decoration: underline;
}

.addDriverBtn a{

}

#addDriverWindow, #addVehicleWindow{
    display: none;
    width: 500px;
    margin: 100px auto;
}

#addDriverWindow table, #addVehicleWindow table{
    width: 100%;
}

#addDriverWindow input[type="button"], #addVehicleWindow input[type="button"]{
    width:50%;
}

.chosen-container{
    width: 250px !important;
    margin: 0 10px 10px 0px;
}

.addDriverWindowBtn, .addVehicleWindowBtn{
    margin: 0 10px 10px 10px;
}

ul.chosen-choices{
    padding: 0 !important;
}

#driverPageContainer{
    width: 800px;
    margin: 0 auto;
}

#transportPageContainer{
    width: 890px;
    margin: 0 auto;
}

#routesPageContainer{
    width: 1230px;
    margin: 0 auto;
}

#auctionPageContainer{
    width: 1430px;
    margin: 0 auto;
}

#adminLotPageContainer{
    width: 600px;
    margin: 0 auto;
}

#adminPageContainer{
    width: 1000px;
    margin: 0 auto;
}

.changeVehicleInfo, .deleteVehicle, .changeDriverInfo, .deleteDriver{
    padding: 3px 8px !important;
    margin-left: 10px;
}

.actionBtns{
    padding: 5px 7px !important;
}

#lotInfoWindow{
    display: none;
}

.txtAlignCenter{
    text-align: center;
}

.deleteConfirmationText{
    padding-top: 200px;
    width: 330px;
    text-align: center;
    margin: 0 auto;
}

#confirmDeleteWindow{
    width: 330px;
    margin: 0 auto;
}

.deleteBtn{
    background-color: #c9302c;
    border-color: #ac2925;
    color: white;
}

.confirmationWindowBtns{
    padding-top: 20px;
}

.confirmationWindowBtns a.btn{
    float: right;
}

form[name="appbundle_transport"], form[name="appbundle_driver"]{
    width: 500px;
    margin: 100px auto;
}

form[name="appbundle_transport"] input[type="text"], form[name="appbundle_driver"] input[type="text"]{
    padding: 7px;
    width: 480px;
}

form[name="appbundle_driver"] textarea{
    padding: 7px;
    width: 480px;
}

form[name="appbundle_transport"] select, form[name="appbundle_driver"] select{
    padding: 7px 4px;
    width: 480px;
    color: #a9a9a9;
}

form[name="appbundle_transport"] select.black, form[name="appbundle_driver"] select.black{
    color: black;
}

form[name="appbundle_transport"] a.btn, form[name="appbundle_driver"] a.btn{
    float: right;
    margin-right: 10px;
}

form[name="appbundle_transport"] input.btn, form[name="appbundle_driver"] input.btn{
    margin-left: 10px;
}

#appbundle_transport div:not([class*="chosen-"]), #appbundle_driver div:not([class*="chosen-"]){
    margin: 10px;
}

.chosen-single div{
    margin: 0 !important;
}

.loginForm input{
    margin: 5px 0;
}

.loginForm label{
    margin-bottom: 0;
}

/* Tooltip text */
.customtooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #f9f9f9;
    border: 1px solid #adadad;;
    color: black;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.customtooltip:hover .tooltiptext {
    visibility: visible;
}

.customtooltip .tooltiptext {
    width: 80px;
    margin-left: -45px;
    margin-top: 29px;
}

.customtooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#lotInfoWindow{
    margin: 10px;
}

.routeInfo{
    margin-top: 10px;
    width: 100%;
    float: left;
}

span#routeStatus{
    padding: 5px;
    background-color: #8c8c8c;
    color: white;
    display: inline-block;
}

.routeStatus, .routeNumber, .routeInfoTable{
    margin: 5px 0;
}

.routeInfoTable{
    float: left;
    width: 40%;
}

.routeInfoTable table td{
    padding-right: 10px;
    padding-bottom: 2px;
}

.showLotRouteInfo{
    cursor: pointer;
}

.routeAssignDriver{
    float: left;
    width: 20%;
}

.routeDriverName{
    font-size: 111%;
    font-weight: bold;
}

.routeDriverPassportData{
    font-size: 85%;
}

.routeDriverVehicle{
    margin: 5px 0;
    font-weight: bold;
    font-size: 13px;
}

.routeAddDriverWindow{
    width: 570px;
    margin: 10px 0 0 0;
    float: left;
}

.routeAddDriverWindow .chosen-container{
    width: 250px !important;
    margin: 0 10px 10px 0px;
}

#routeDeleteDriver{
    float: right;
}

.routeDeleteDriver{
    float: left;
    margin-bottom: 15px;
}

.routeDeleteDriver .btn-danger{
    padding: 0 4px;
}

.routeAddDriverSelect, .routeAddVehicleSelect{
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.routeAddDriverSelect{
    margin-right: 50px;
}

.routeAddVehicleSelect{
    margin-left: 20px;
}

#appbundle_bet div{
    float: left;
}

.lotTimeLeft {
    width: 55px;
    text-align: center;
}

.floatLeft{
    float: left;
}

td.lotTimeLeftTimer{
    width: 145px;
    text-align: center;
}

.zeroHeight td.hiddenRow{
    padding: 0 7px !important;
}

.routeInfoTable table{
    width: 90% !important;
    border: 1px solid dimgrey;
    border-collapse: collapse;
    height: 240px;
}

.lotInfoWindow table tr td{
    padding: 5px 7px;
}

.routeAddVehicleSelect .attachedVehicle{
    height: 40px;
}

tr.zeroHeight{
    background-color: #ececec;
}

.notMyBet{
    background-color: #de8282;
}

.myBet{
    background-color: #88d985;
}

.mtop60{
    margin-top: 60px;
}

.routeVehicleName{
    float: left;
}

.routeVehicleRegNum{
    float: left;
    margin-left: 10px;
}

.routeDriverHeader{
    float: left;
    width: 60%;
    margin-top: 10px;
}

.btnSetAuctionFilter, .btnUnsetAuctionFilter, .btnSetRouteFilter, .btnUnsetRouteFilter, .btnSetDriverFilter, .btnUnsetDriverFilter, .btnSetTransportFilter, .btnUnsetTransportFilter{
    float: right;
    margin-top: 10px;
    padding: 2px 4px !important;
}

.lotAuctionWillStartAt{
    width: 100px;
    float: left;
    margin-left: 23px;
}

#appbundle_driver div:nth-child(5){
    width: 235px;
    float: left;
    margin-top: 0;
    margin-right: 0;
}

#appbundle_driver div:nth-child(5) input.passportSeries{
    width: 235px;
    float: left;
    margin-top: 0;
    margin-right: 0;
}

#appbundle_driver div:nth-child(6){
    float: left;
    width: 235px;
    margin-top: 0;
}

#appbundle_driver div:nth-child(6) input.passportNumber{
    width: 235px;
}

#appbundle_driver .driverLicense{
    margin: 0 10px 10px 0px;
}

td.found{
    background-color: #b6d8c3;
}

.skipSearchResults{
    width: 1430px;
    margin: 0 auto;
}
#skipSearchResults{
    float: left;
    padding: 15px 0 0px 15px;
    text-decoration: underline;
    color: #337ab7;
    cursor: pointer;
}

.skipSearchResultsRoutesPage{
    padding-left: 100px;
}

#errorPageContainer{
    width: 800px;
    margin: 0 auto;
}
.errorMessage{
    padding-top: 250px;
    font-size: 18px;
    width: 455px;
    margin: 0 auto;
}
.userRole{
    display: block;
    float: left;
    width: 150px;
}

.userBlockHeader{
    width:145px;
    display: block;
}

.userBlockBtnWrapper{
    height: 62px;
}