<li>
    <div class="topMenuSearch">
        <input type="text" id="searchThis" placeholder="{{ searchCaption }}"/>
        <img id="doSearch" src="{{ asset('/static/images/searchButton.svg') }}">
    </div>
</li>