{% extends 'base.html.twig' %}

{% block body %}
    <div id="confirmDeleteWindow">
        <div class="deleteConfirmationText">
            Вы действительно хотите удалить водителя<br /><strong>{{ driver.fio }}</strong> ?
        </div>
        <div class="confirmationWindowBtns">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Удалить">
                <a class="btn btn-default" href="{{ path('driver') }}">Отменить</a>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}